body {
  margin: 0;
  font-family: Segoe UI;
  background: #0f172a;
  color: white;
}

.dashboard {
  display: flex;
}

.sidebar {
  width: 250px;
  background: #020617;
  padding: 20px;
  height: 100vh;
}

.main {
  flex: 1;
  padding: 20px;
}

.kpi-row {
  display: flex;
  gap: 20px;
}

.card {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
}

.blue { background: #1d4ed8; }
.red { background: #dc2626; }
.orange { background: #f97316; }

.chart-box, .table-box {
  margin-top: 20px;
  background: #020617;
  padding: 20px;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #333;
}
